* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "CaskaydiaCove NF";
    font-weight: 500;
    font-size: 16px;

    border-radius: 10px;
    text-shadow: none;
   
    transition-property: background;
    transition-duration: 0.2s;
}

window#waybar {
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mode,
#disk,
#window,
#custom-wl-gammarelay-temperature,
#custom-wl-gammarelay-brightness,
#custom-launcher,
#custom-fan,
#custom-weather,
#bluetooth,
#temperature,
#workspaces {
    margin-top: 6px;
    padding: 0 12px;
}

#workspaces {
    padding: 3px;
	background: rgba(31, 31, 31, 1.0);
	transition: none;

    font-size: 12px;
}

#workspaces :first-child {
    margin-left: 0;
}

#workspaces button {
    border: none;
    padding: 0 6px;
    background: transparent;
    color: #ffffff;
    margin-left: 3px;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.5);
}

#workspaces button.empty {
    color: rgba(255, 255, 255, 0.25);
}

#workspaces button.active {
    background: #f0f7ff;
    color: #0f1f1f;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > * {
    margin-left: 12px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > * {
    margin-right: 12px;
}

#clock {
    color: #f4dbd6;
    background-color: #000000;
}

#custom-weather{
    color: #c6a0f6;
    background-color: #000000;
}


#custom-fan{
    color: #ed8796;
    background-color: #000000;
}

#temperature{
    color: #ee99a0;
    background-color: #000000;
}

#cpu {
    color: #f5a97f;
    background-color: #000000;
}

#memory {
    color: #eed49f;
    background-color: #000000;
}

#pulseaudio {
    color: #8bd5ca;
    background-color: #000000;
}

#network {
    color: #91d7e3;
    background-color: #000000;
}

#bluetooth {
    color: #7dc4e4;
    background-color: #000000;
}

#custom-wl-gammarelay-temperature {
    color: #8aadf4;
    background-color: #000000;
}

#custom-wl-gammarelay-brightness {
    color: #b7bdf8;
    background-color: #000000;
}

#disk {
    color: 	#b7bdf8;
    background-color: #000000;
}

#custom-launcher{
    color: #8087a2;
    background-color: #000000;
}

#tray {
    background-color: rgba(16, 20, 24, 0.5);
}


#window {
    font-family: "CaskaydiaCove NF";
    font-weight: 400;
    color: #cbecff;
    background-color: #000000;
}
